In [1]:
mystring = "Premkumar"

In [2]:
mylist = []

for i in mystring:
    mylist.append(i)

In [3]:
print(mylist)

['P', 'r', 'e', 'm', 'k', 'u', 'm', 'a', 'r']

In [4]:
# we can simplify above loop

mylist = [x for x in "Premkumar"]

In [5]:
mylist

['P', 'r', 'e', 'm', 'k', 'u', 'm', 'a', 'r']

In [7]:
mylist = [num**3 for num in range(0,11)]

In [8]:
print(mylist)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
mylist = [num for num in range(0,11) if num % 2 == 0]
print(mylist)

[0, 2, 4, 6, 8, 10]

In [12]:
celcius = [0,10,16,9,35.6]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [13]:
print(fahrenheit)

[32.0, 50.0, 60.8, 48.2, 96.08]

In [14]:
fahrenheit =[]

for temp in celcius:
    fahrenheit.append( (9/5) * temp + 32)

In [15]:
print(fahrenheit)

[32.0, 50.0, 60.8, 48.2, 96.08]

In [19]:
 #nested loops
lst =[]

for x in [2,4,6]:
    for y in [1,20,400]:
        lst.append(x*y)
print(lst)

[2, 40, 800, 4, 80, 1600, 6, 120, 2400]

In [22]:
lst = [ x * y for x in [2,4,6] for y in [1,20,400]]

#not reccommened to use

In [23]:
print(lst)

[2, 40, 800, 4, 80, 1600, 6, 120, 2400]

In [10]:
st = "prem surya haritha chutki satya"
words = []
for x in st.split():
    words.append(x)
    
    if words[0] == "s":
        print(words)

['prem', 'surya', 'haritha', 'chutki', 'satya']

In [7]:
st = "prem surya haritha chutki satya"
words = []
for x in st.split():
    words.append(x)
    
for word in words:
    if word.startswith("s"):
        print(word)

surya
satya

In [12]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [14]:
odd = [ x for x in range(0,50) if x % 3 == 0]

In [15]:
print(odd)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [8]:
st = "print every word in this sentence that has an even number of letters"

words = []

for i in st.split():
    if len(i) % 2 == 0:
        print(i)

word
in
this
sentence
that
an
even
number
of

In [6]:
print(words)

['print', 'every', 'word', 'in', 'this', 'sentence', 'that', 'has', 'an', 'even', 'number', 'of', 'letters']

In [7]:
st = "print every word in this sentence that has an even number of letters"

words = []

for i in st.split():
    words.append(i)
if len(i) % 2 == 0:
    print(words)

In [10]:
for x in range (1,101):
    if x % 3 == 0 and x % 5 == 0:
        print("FizzBuzz")
    elif x % 3 == 0:
        print("Fizz")
    elif x % 5 == 0:
        print("Buzz")
    else : 
        print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [2]:
st = "print every word in this sentence that has an even number of letters"

for i in st.split():
    print(i[0])

p
e
w
i
t
s
t
h
a
e
n
o
l