In [1]:
##WHILE Loops
# while loops will comtinue to execute a block of code while
 #some condition remains True.
    
# syntax of a while loop

In [2]:
 # while some_boolean_condition:
     #Do something
  # else:
     #do something different

In [3]:
x = 0

while x < 5:
    print(f'The current number is {x}' )
    x = x + 1
else :
    print("x is not less than 5")

The current number is 0
The current number is 1
The current number is 2
The current number is 3
The current number is 4
x is not less than 5

Break , continue and pass

We can use break, continue adn pass in our loops to addd functionality for various case

 Break : breaks out of the currrent closest enclosing loop
 continue : Goes to the top of the closest enclosing loop
 pass : does nothing at all.

In [4]:
x = [1,2,3]

for item in x:
    # if you want to code in future but have run now
    pass
    # without pass we can face an error
print("End of script")

End of script

In [5]:
mystring = "Prem"

In [6]:
for letter in mystring:
    print(letter)

P
r
e
m

In [9]:
for letter in mystring:
    if letter == "e":
        continue
    print(letter)

P
r
m

In [10]:
for letter in mystring:
    if letter == "e":
        break
    print(letter)

P
r

# USEFUL OPERATORS

In [12]:
# range is used to iternate numbers 
 # range(start, stop , step)

In [14]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [15]:
for x in range(1,25):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [17]:
for x in range(0,11,2):
    print(x)

0
2
4
6
8
10

In [18]:
range(0,11,2)

range(0, 11, 2)

In [19]:
list(range(0,11,2))   # this will help us to enter long list

[0, 2, 4, 6, 8, 10]

In [29]:
index_count = 0

word = "prem kumar"
for letter in word:
    print(index_count)
    print(letter, "\n")
    index_count += 1      #this is manual way of counter.
                            #we can use a function called enumerate

0
p

1
r

2
e

3
m

4


5
k

6
u

7
m

8
a

9
r

In [30]:
word = "prem kumar"
for letter in enumerate(word):
    print(letter)   # we can see the results in form of tuples

(0, 'p')
(1, 'r')
(2, 'e')
(3, 'm')
(4, ' ')
(5, 'k')
(6, 'u')
(7, 'm')
(8, 'a')
(9, 'r')

In [32]:
word = "prem kumar"
for index,letter in enumerate(word):
    print(index)
    print(letter, "\n")      # so we can extract index numbering

0
p

1
r

2
e

3
m

4


5
k

6
u

7
m

8
a

9
r

In [36]:
#zip function is used to convert two different lists into single tuple


list1 = [1,2,3]
list2 = ["a","b","c"]

for i in zip(list1,list2):
    print(i)
    
# if size of list is uneven, them zip operator automatically creates the lowest no.of tuples

(1, 'a')
(2, 'b')
(3, 'c')

In [37]:
# if you dont want tuple, we can list(zip()) to make it list.
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [38]:
# in operator has able to go inside

"x" in [1,2,4]

False

In [39]:
"x" in ["x", "y", "z"]

True

In [40]:
"a" in "a worls"

True

In [41]:
"my" in {"my":912}

True

In [43]:
d = {"keys": 192}
192 in d.values()

True

In [44]:
d = {"keys": 192}
192 in d.keys()

False

In [46]:
#min()
#max()
mylist = [10,20,230,3923]

min(mylist)

10

In [47]:
max(mylist)

3923

In [ ]:
# random operators helps to us import random stuff into our program

In [50]:
from random import shuffle

In [51]:
lst = [1,2,3,4,5,6,7,8,9]

In [52]:
shuffle(lst)

In [53]:
lst

[5, 3, 1, 9, 2, 7, 6, 8, 4]

In [54]:
lst

[5, 3, 1, 9, 2, 7, 6, 8, 4]

In [55]:
from random import randint

In [57]:
randint(0,101) #randint helps us to draw a random integer in the list

38

In [58]:
randint(0,101)

65

In [59]:
# input operator is used to collect data from user

input('Enter the number: ')

Enter the number: 00

'00'

In [60]:
lst = input('Enter the number: ')

Enter the number: 1021

In [61]:
lst #input always gives us string

'1021'

In [62]:
type(lst)

str

In [63]:
# if you want to convert str to int

float(lst)

1021.0

In [65]:
lst = int(input('Enter the number: '))

Enter the number: 69

In [66]:
type(lst)

int